:root {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:white;
}
body {
    margin:0;
    padding:0;
    background:white;
}
h1{
    text-align: center;
}
/*-- Nav 1 --*/
.nav1{
   background:lightskyblue;
   padding: .5em .5em;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white; 
   border: 2px solid navy;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 60px;
}
.links a{
    color: red;
    transition: color 0.5s ease-in-out;
    margin: 1rem;
}
.links a:hover {
    color: navy;
}
/*-- Nav 2 --*/
.nav2{
    background:red;
    padding: .5em .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white; 
    border: 2px solid navy;
 }
 .logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 60px;
}
.links-a a{
    color: lightblue;
    transition: color 0.5s ease-in-out;
    margin: 1rem;
}
.links-a a:hover {
    color: navy;
}
.links-b a{
    color:lightblue;
    transition: color 0.5s ease-in-out;
    margin: 1rem;
}
.links-b a:hover{
    color: navy;
}
/*-- Buttons --*/
.button-box{
    margin: auto;
    max-width:800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.button-container{
    margin: auto;
    position: relative;
}
/*-- Button 1 --*/
.btn {  
    font-family: Arial, Helvetica, sans-serif;  
    text-transform: uppercase;
}  
.btn:hover .btn-slide-show-text1 {  
    margin-left: 65px;
}  
.btn-rect-to-round {  
    height: 55px;  
    width: 165px;  
    font-size: 16px;  
    font-weight: 600;  
    background: transparent;  
    cursor: pointer;  
    transition: all 0.5s ease-in 0s;
}  
.btn-rect-to-round:hover {  
    border-radius: 60px;  
    color: rgb(252, 250, 250) !important;
}  
.btn-rect-to-round--black {  
    border: 2px solid rgb(51, 51, 51);  
    color: rgb(51, 51, 51) !important;
}  
.btn-rect-to-round--black:hover {  
    border-color: rgb(2, 225, 254);  
    background: rgb(51, 51, 51);
}  
/*-- Button 2 --*/
.btn {  
    font-family: Arial, Helvetica, sans-serif;  
    text-transform: uppercase;
}  
.btn:hover .btn-slide-show-text1 {  
    margin-left: 65px;
}  
.btn-shadow-drop {  
    position: relative;  
    margin-top: 10%;  
    background: rgb(18, 6, 125);  
    padding: 20px;  
    font-size: 0.9em;  
    font-weight: 700;  
    letter-spacing: 5px;  
    text-transform: uppercase;  
    transition: all 0.3s ease-in-out 0s;  
    left: 0px;  
    top: 0px;  
    width: 180px;
}  
.btn-shadow-drop:hover {  
    left: 4px;  
    top: 4px;  
    box-shadow: rgb(51, 51, 51) 0px 0px 0px 0px;
}  
.btn-shadow-drop--black {  
    border: 1px solid rgb(250, 250, 250);  
    color: rgb(250, 250, 250);  
    box-shadow: rgb(247, 78, 6) 4px 4px 0px 0px;
}  
/*-- Button 3 --*/
.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
  }
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
/*-- Button 4 --*/
.btn {  
    font-family: Arial, Helvetica, sans-serif;  
    text-transform: uppercase;
}  
.btn:hover .btn-slide-show-text1 {  
    margin-left: 65px;
}  
.btn-background-slide {  
    width: 180px;  
    padding: 6px;  
    height: 50px;  
    color: rgb(252, 252, 252);  
    text-align: center;  
    position: relative;  
    top: 50%;  left: 50%;  
    transform: translate(-50%, -50%);  
    border: 2px solid rgb(1, 108, 33);  
    overflow: hidden;  
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1) 0s;  
    cursor: pointer;  
    box-shadow: rgb(208, 208, 2) 0px 0px 0px;
    background-color:rgb(1, 108, 33);
}  
.btn-background-slide:hover {  
    box-shadow: rgb(208, 208, 2) 8px 8px 0px, rgb(208, 208, 2) -8px -8px 0px;
}  
.btn-background-slide:hover .btn-background-slide-bg {  
    opacity: 1;  
    transform: translateZ(0px);
}  
/*-- Typography --*/
.typography{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 1rem;
    text-align: center;

}
/*-- Neon Text --*/
.neon{
    color: rgb(6, 249, 35);
    text-shadow:    
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    background: black;
    padding: 1rem;
    font-size: 40px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --color-primary: #f2abfe;
  --color-secondary: #f05efd;
  --color-tertiary: #fd32e8;
  --color-quaternary: #fd13da;
  --color-quinary: #b10798;
}
/*-- 3D Text --*/
.threed {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-left: 1rem;
}
.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  color: transparent;
  background-color: white;
  background-clip: text;
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
  font-size: 60px;
}
/*-- Gradient Text --*/
.gradient {
    padding-left: 3rem;
    position: inherit;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #0317f9, #0497f9, #02f6bd, #acfa03);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
/*-- Fancy --*/
.fancy {
    padding-left: 3rem;
    position: inherit;
}
.heading {
    font-family: cursive;
    font-style: italic;
    text-decoration: underline;
    font-size: 40px;
}
.text {
    font-weight: lighter;
    font-size: 25x;
}
/*--Media Cards--*/
.mcards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 1rem;
    text-align: center; 
}
/*--Card 1--*/
.card {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
}
.card__cover {
    height: 10rem;
    background-color: gray;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border: solid black;
}
.card__content {
    /* Take available height */
    flex: 1;
    text-align: center;
    border: solid black;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.title {
    font-weight: Bold;
    font-family: 'Courier New', Courier, monospace;
    font-size:larger;
}
.card2 {
    display: flex;
    flex-direction: row;
    width: 33%;
    height: 100%;
    border: solid black;
    text-align:left;
    border-radius: 10px;
}
.cover {
    height: 6rem;
    width: 12rem;
    padding: 1rem;
    margin: 1rem 1rem;
    align-items: center;
    background-color: gray;
    border: solid black;
    border-radius: 50%;
}